USE [OfficeCRMDB]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 15-11-2025 13:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 15-11-2025 13:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](50) NOT NULL,
	[Address] [varchar](150) NULL,
	[PhoneNO] [varchar](12) NOT NULL,
	[Email] [varchar](30) NULL,
	[PinCode] [varchar](10) NULL,
	[CreatedBy] [int] NULL,
	[CreateedOn] [date] NULL,
	[CountryId] [int] NULL,
	[IdProofPath] [varchar](50) NULL,
 CONSTRAINT [PK__Customer__A4AE64B8CD5384E3] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee_Master]    Script Date: 15-11-2025 13:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee_Master](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](20) NULL,
	[Last_Name] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[PassWord] [varchar](50) NULL,
	[PhoneNo] [varchar](15) NULL,
	[CompanyID] [int] NULL,
	[IsActive] [bit] NULL,
	[IsLoggedin] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[Rolee] [varchar](20) NULL,
 CONSTRAINT [PK_Employee_Master] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[Country_GetAll]    Script Date: 15-11-2025 13:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Country_GetAll]
as


BEGIN
  select* from Country
END

GO
/****** Object:  StoredProcedure [dbo].[Customer_Delete]    Script Date: 15-11-2025 13:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Customer_Delete]
 @CustomerID INT
AS
BEGIN
	DELETE FROM Customer
	WHERE @CustomerID = CustomerID

END

GO
/****** Object:  StoredProcedure [dbo].[Customer_GetAllCustomer]    Script Date: 15-11-2025 13:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Customer_GetAllCustomer]

AS
BEGIN
	Select  [CustomerID],
	[CustomerName],
	[Address],
	PhoneNO,
	[Email],
	[PinCode],
	[CreatedBy],
	[CreateedOn],
	[CountryName],
	[IdProofPath]
	 from  Customer
	 left join Country on Customer.CountryId = Country.CountryId
END

GO
/****** Object:  StoredProcedure [dbo].[Customer_GetByID]    Script Date: 15-11-2025 13:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[Customer_GetByID]

@CustomerID int
AS
BEGIN
	select * from Customer 
	where @customerId = CustomerId
END

GO
/****** Object:  StoredProcedure [dbo].[Customer_Update]    Script Date: 15-11-2025 13:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Customer_Update]
    @CustomerId INT,
    @CustomerName varchar(50),
	@Address varchar(150),
	@PhoneNo varchar(12),
	@Email varchar(50),
	@pincode varchar(10),
	@CreateBy INT,
	@CountryId INT,
	@IdProofPath varchar
AS
BEGIN
    if @CustomerId = 0
	BEGIN
	INSERT INTO Customer (
	[CustomerName],
	[Address],
	PhoneNO,
	[Email],
	[PinCode],
	[CreatedBy],
	[CreateedOn],
	[CountryId],
	[IdProofPath]) values
	(
	@CustomerName,
	@Address,
	@PhoneNo,
	@Email,
	@pincode,
	@CreateBy,
	GETDATE(),
	@CountryId,
	@IdProofPath
	)
	END
	else 
	UPDATE Customer
	set
	[CustomerName]= @CustomerName,
	[Address] = @Address,
	[PhoneNO] = @PhoneNo,
	[Email] = @Email,
	[PinCode] = @pincode,
	[CountryId] = @CountryId,
	[IdProofPath] = @IdProofPath
	where CustomerId = @CustomerID
END
GO
/****** Object:  StoredProcedure [dbo].[Employee_GetAll]    Script Date: 15-11-2025 13:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Employee_GetAll]
	
AS
BEGIN
	select 
	[First_Name] + ' ' + [Last_Name] as Name,
	Email,
	[PhoneNo],
	CompanyID,
	IsActive,
	IsLoggedin,
	Rolee

	 from Employee_Master
END
GO
/****** Object:  StoredProcedure [dbo].[Employee_GetById]    Script Date: 15-11-2025 13:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Employee_GetById]
   @EmployeeId int
AS
BEGIN
	select
	[First Name] + ' ' + [Last Name] as Name,
	Email,
	[Phone No],
	CompanyID,
	IsActive,
	IsLoggedin,
	Rolee

	 from Employee_Master
	 where @EmployeeId = EmployeeID
END

GO
/****** Object:  StoredProcedure [dbo].[Employee_Save]    Script Date: 15-11-2025 13:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Employee_Save]

 @EmployeeID int ,
	@First_Name varchar(15),
	@Last_Name varchar(15),
	@Email varchar(50),
	@PassWord varchar(50),
	@PhoneNo varchar(15),
	@CompanyId int,
	@IsActive bit,
	@IsLoggedin bit,  
	@CreatedBy int,
	@Rolee varchar(20)
AS
BEGIN
     if @EmployeeID = 0
	 BEGIN
	  insert into Employee_Master(
	  [First_Name],
   [Last_Name],
   [Email],
   [PassWord],
   [PhoneNo],
   [CompanyID],
   [IsActive],
   [IsLoggedin],
   [CreatedBy],
   [CreatedOn],
   [Rolee]) 
   values(
   @First_Name ,
	@Last_Name ,
	@Email ,
	@PassWord,
	@PhoneNo ,
	@CompanyId ,
	@IsActive ,
	@IsLoggedin ,  
	@CreatedBy,
	getdate(),
	@Rolee )
	END 
	else
	update Employee_Master
	set
	  [First_Name] = @First_Name,
   [Last_Name] = @Last_Name,
   [Email]= @Email ,
   [PassWord] = @PassWord,
   [PhoneNo] = @PhoneNo,
   [CompanyID] = @CompanyId,
   [IsActive] = @IsActive,
   [IsLoggedin] = @IsLoggedin,
   [Rolee] = @Rolee
   where @EmployeeID = EmployeeID

END

GO
